<div class="carousel">
    <ol class="carousel-indicators">
        <li v-for="image in images" :class="{active: $index===currentSlideIndex }" @click="moveSlides($index)"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-wraper" :class="wraperTransition" :style="carouselWraperStyle" v-el:wraper>
            <div v-for="(imageIndex, image) in images" class="image" :class="{active:$index === currentSlideIndex}" :style="{
width: `${100 /imagesCount}%`
            }">
                <div v-for="(componentIndex,componentSrc) in image.components" class="image-component" :style="imageComponentsStyle[imageIndex][componentIndex]">
                    <!--<canvas id="canvas-{{$index}}"></canvas>-->
                    <p>{{image.msg}}</p>
                </div>
            </div>
        </div>
    </div>
    <ul id="messages">
        <li v-for="msg in unReadMessage">{{msg.content}}</li>
    </ul>
</div>