<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Features</span>
    <nav class="mdl-navigation">
        <template v-for="(category, features) in featuresGroupByCategories">
            <label class="mdl-navigation__link" for="btn-remove">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{category}}">
                    <input type="checkbox" id="{{category}}" class="mdl-checkbox__input" value="{{category}}">
                    <span class="mdl-checkbox__label"> {{category}}</span>
                </label>
            </label>

            <label v-for="feature in features" track-by="name" class="mdl-navigation__link" transition="collapse">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{feature.name}}">
                    <input type="checkbox" id="{{feature.name}}" class="mdl-checkbox__input" value="{{feature.name}}" @change="updateSelectedFeature(feature)">
                    <span class="mdl-checkbox__label"> {{feature.name}}</span>
                </label>
            </label>
        </template>
    </nav>
</div>